.review-window {
  width:60%;
}

.simple-nav {
  margin-bottom: 20px;
}

body {
  margin-left:40px;
  margin-right:40px;
}

.main-outlet {
  margin: 4px;
}

#container{
  margin-top: -14px;
  overflow:scroll;
  height:75vh;
}

#page-header {
  text-align: center;
  margin-top: -10px;
}
